In [1]:
'''Libreria para cargar el dataset'''
import pandas as pd

In [2]:
'''Se carga el dataset'''
data = pd.read_csv("Dataset of Diabetes .csv")
'''Se muestra los 5 primeros datos'''
data.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [3]:
data['CLASS'].unique()
data['Gender'].unique()
'''Remplazar etiquetas'''
a = {'F': 0 , 'f': 0, 'M': 1}

''''Binarizar el target (gender)'''
data['Gender'] = data['Gender'].map(a)

'''Remplazar etiquetas en clase por 0, 1 y 2'''
d1 = {'Y': 1 , 'Y ': 1, 'N': 0, 'N ':0, 'P':2}
data['CLASS'] = data['CLASS'].map(d1)
'''Comprobacion con las etiquetas asignadas'''
data.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,1,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,1,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0

In [4]:
'''Dataset guardado en una variable'''
cara = ['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']

'''Añadiendo las caracteristicas en una variable'''
X = data[cara] 
'''Variable independiente en este caso el target'''
y = data['CLASS'] 
'''Importacion de libreria para entrenar al modelo'''
from sklearn.model_selection import train_test_split
'''Entrenamiento del modelo 70% entrenamiento y 30% prueba'''
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [5]:
'''Se importa la libreria para el arbol de decision'''
from sklearn.tree import DecisionTreeClassifier
'''Se crea el arbol de decision'''
clf = DecisionTreeClassifier()
'''Se entrena el arbol de decision'''
clf = clf.fit(X_train,y_train)
'''Se realiza la prediccion del dataset'''
y_pred = clf.predict(X_test)

In [6]:
'''Librerías para las metricas'''
from sklearn import metrics
'''Evaluación de los datos mediante accuracy, preccision y recall'''
'''Impresión del acurracy'''
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
'''Impresión del precision'''
print("Precision:", metrics.precision_score(y_test, y_pred,average='micro' ))
'''Impresión del recall'''
print("Recall:", metrics.recall_score(y_test, y_pred, average='micro'))

Accuracy: 0.9666666666666667
Precision: 0.9666666666666667
Recall: 0.9666666666666667

In [ ]:
'''Librería para realizar la matriz de confusion'''
from sklearn.metrics import confusion_matrix
'''Guardo en una variable la matriz de confusión'''
matriz=confusion_matrix(y_test, y_pred)
'''Se imprime la matriz de confusión de forma matriz'''
print(matriz)